body{
    background-image: url("/img/background.jpg");
}

/* navbar */
.nav-item{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

nav>div>ul>li>a{
    padding-top: 16px !important;
    padding-bottom: 16px !important; 
    border-bottom: 3px solid transparent;
}

nav>div>ul>li>a:hover{
    border-bottom: 3px solid #ababab;
}

.navbar-toggler{
    margin-top: 9px;
    margin-bottom: 10px;
}

button:focus, button:active:focus, button.active:focus{
    outline:none !important;
    box-shadow:none !important;
}

.navbar-toggler:hover{
    box-shadow: 0 0 0 2px #ababab !important;
}

/* user icon */
.icon{
    width: 40px;
    margin-right: 10px;
}

div>a>img:hover{
    box-shadow: 0 0 0 2px #ababab;
}

/* main block */
.container {
    width: 70% !important;
}

#mainVideo {
    width: 100%;
    height: 60vh;
    margin-top: 100px;
}

#introDiv h3 {
    margin-left: 3%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#introDiv p {
    margin-left: 3%;
    margin-right: 3%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 120%;
}

#introDiv {
    background-color: #f2f2f2;
    border: 3px solid #ababab;
}